* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #F0997D;
}

.page {
  width: 120rem;
  height: 60rem;
  background: url(img/planeta.png) no-repeat center;
  background-size: cover;
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  position: relative;
}

.page-text {
  width: fit-content;
  position: relative;
  top: 5rem;
  left: 5rem;
}

.page-text h3 {
  font-size: 15rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #333;
}

.page-text p {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 0.3 #000;
  margin-bottom: 3rem;
}

.page-text a {
  background-color: #F0997D;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 0.3rem solid #fff;
  border-radius: 0.4rem;
  color: #fff;
  box-shadow: 0 0 0.3rem #333, inset 0 0 0.2rem #333;
  text-shadow: 0 0 0.3rem #000;
  font-weight: 700;
}

.hill-img {
  position: absolute;
  height: 23rem;
  bottom: 5.5rem;
  right: 22rem;
  z-index: 2;
}
